{% extends "base.html" %}
{% block content %}
<section class="options">
    <h2 class="text-2xl font-bold mb-4 text-center">Travel Options from {{ start_point }} to {{ end_point }}</h2>
    <p class="text-center mb-2 text-xl">Travel Dates: {{ inbound_date }} to {{ outbound_date }}</p>
    <p class="text-center mb-6 text-xl">Travelers: {{ adults }} Adult(s), {{ children }} Child(ren)</p>
    {% if options %}
    <ul class="max-w-2xl mx-auto">
        {% for option in options %}
        <li>
            <p><i class="fas {% if option[3] == 'Train' %}fa-train{% elif option[3] == 'Bus' %}fa-bus{% else %}fa-car{% endif %}"></i> <strong>Route:</strong> {{ option[1] }} to {{ option[2] }}</p>
            <p><i class="fas {% if option[3] == 'Train' %}fa-train{% elif option[3] == 'Bus' %}fa-bus{% else %}fa-car{% endif %}"></i> <strong>Transport Mode:</strong> {{ option[3] }}</p>
            <p><i class="fas fa-leaf"></i> <strong>Carbon Footprint:</strong> {{ option[4] }} kg CO2</p>
            <p><i class="fas fa-pound-sign"></i> <strong>Price:</strong> £{{ ((option[5] | float * adults) + (option[5] | float * 0.5 * children)) | round(2) }} (for {{ adults }} Adult(s), {{ children }} Child(ren))</p>
            <a href="{{ url_for('pricing', option_id=option[0], adults=adults, children=children) }}" class="bg-green-500 text-white px-6 py-3 rounded hover:bg-green-700 transition block text-center mt-4" aria-label="View Pricing for {{ option[3] }}"><i class="fas fa-arrow-right"></i> Select</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center text-xl">No options available for this route.</p>
    {% endif %}
</section>
{% endblock %}